<div class="not-prose">
  <div class="max-w-lg mx-auto my-10">
    <script async src="https://subscribe-forms.beehiiv.com/embed.js"></script>
    <iframe src="https://subscribe-forms.beehiiv.com/80eeb668-c1d6-453d-982b-faff55875a4e" class="beehiiv-embed" data-test-id="beehiiv-embed" frameborder="0" scrolling="no" style="width: 100%; height: 365px; margin: 0; border-radius: 0px 0px 0px 0px !important; background-color: transparent; box-shadow: 0 0 #0000; max-width: 100%;">
    </iframe>
  </div>
</div>

